@media (max-width: 540px) {
	.rest-hours {
		margin-left: calc(45% - 110px);
		width: 100%;
	}
	.rest-photo {
		margin-top: 0px;
		margin-left: calc(45% - 110px);
	}
	// #KedaiMakan {
	// 	margin-top: -100px;
	// 	margin-left: 5%;
	// }
}

// @media (min-width: 450px) and (max-width: 550px) {
// 	.main-content {
//   		width: calc(100% - 30px);
//     	margin-left: 15px;
//   	}
// 	.my-meetup-text {
// 		font-size: 31px;
// 	}
// 	.my-meetup {
// 		height: 90px;
// 	}
// 	.create-meetup {
// 		margin-bottom: 11px;
// 	}
// }

// @media (max-width: 450px) {
// 	.main-content {
//   		width: calc(100% - 16px);
//     	margin-left: 8px;
//     	margin-bottom: 60px;
//   	}
//   	.my-meetup-text {
// 		font-size: 24px;
// 	}
//   	.my-meetup {
// 		height: 70px;
// 	}
// 	.label-date {
// 		width: 100%;
// 	}
// 	.label-time {
// 		margin-left: 0;
// 		width: 49%;
// 	}
// 	#end-time {
// 		margin-left: 2%;
// 	}
// 	.create-meetup {
// 		margin-bottom: 11px;
// 	}
// }

// @media (max-width: 350px) {
// 	.main-content {
//   		width: 100%;
//     	margin: 10px 0 52px 0;
//   	}
// }