@media (max-width: 991px) {
	// .rest-span {
	// 	width: 100%;
	// }
	// .dummy-rest {
	// 	margin-bottom: 60px;
	// }
	a:hover {
	    text-decoration: none;
	}
}

@media (max-width: 800px) {
	select {
    	font-size: 16px;
    }
}

@media (max-width: 625px) {
	#rating {
		margin-left: 3.33%;
	}
	.input {
		height: 30px;
    	width: 45%;
    	margin-left: 3.33%;
    	margin-top: 7px;
    }
}

@media (max-width: 400px) {
	.input {
		height: 26px;
    	width: 90%;
    	margin-left: 5%;
    }
    #rating {
		margin-left: 5%;
	}
	.nav {
		height: 155px;
	}
}

// @media (min-width: 450px) and (max-width: 550px) {
// 	.main-content {
//   		width: calc(100% - 30px);
//     	margin-left: 15px;
//   	}
// 	.my-meetup-text {
// 		font-size: 31px;
// 	}
// 	.my-meetup {
// 		height: 90px;
// 	}
// 	.create-meetup {
// 		margin-bottom: 11px;
// 	}
// }

// @media (max-width: 450px) {
// 	.main-content {
//   		width: calc(100% - 16px);
//     	margin-left: 8px;
//     	margin-bottom: 60px;
//   	}
//   	.my-meetup-text {
// 		font-size: 24px;
// 	}
//   	.my-meetup {
// 		height: 70px;
// 	}
// 	.label-date {
// 		width: 100%;
// 	}
// 	.label-time {
// 		margin-left: 0;
// 		width: 49%;
// 	}
// 	#end-time {
// 		margin-left: 2%;
// 	}
// 	.create-meetup {
// 		margin-bottom: 11px;
// 	}
// }

// @media (max-width: 350px) {
// 	.main-content {
//   		width: 100%;
//     	margin: 10px 0 52px 0;
//   	}
// }