// OMNIPOTENT STYLING
html, body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #fafafa;
	margin-bottom: 245px;
}

.nav, .header, .background-image .footer {
	border: 1px solid black;
}

label {
	font-weight: normal;
}





// NAV BAR
// Nav section
.nav {
	display: flex;
	flex-wrap: wrap;
	height: 100px;
	color: #FFF;
    background-color: #3C5A85;
}

#rating {
	margin-left: 4.5%;
}

.inputs {
	width: 100%;
}

// Each input
.input {
	vertical-align: middle;
	text-align-last: center;
	height: 40px;
	width: 22%;
	margin-left: 6px;
	margin-top: 28px;
    border-radius: 6px;
    font-size: 20px;
    color: #000;
}

// Each option of each input
option {
    padding-left: 20px;
    font-size: 16px;
}

// First option in each input
.first-option {
    vertical-align: middle;
}






// FOOTER
.footers {
	height: 7%;
	display: flex;
	flex-wrap: wrap;
    background: #3C5A85;
	border: 1px solid #FFF;
	z-index: 2;
	margin-top: 38.8%;
}





// MAIN CONTENT
// Entire section div
.main-content {
	margin: 0 4%;
}

// Each restaurant
.ind-rest {
	margin-top: 30px;
}

// Restaurant photo
.rest-photo {
	width: 220px;
	height: 180px;
	object-fit: cover;
	padding-left: 0;
	border: 2px solid #666666;
}

// Restaurant info
.rest-info {
	display: flex;
	flex-wrap: wrap;
	padding: 15px 15px 5px 15px;
	margin-bottom: 10px;
	border: 1px solid #d7d7d7;
	background-color: #fff;
	font-weight: bold;
}

// Each piece of restaurant input
.rest-input {
	margin-bottom: 6px;
	padding: 0px;
}

// Restaurant info
.rest-span {
	width: 100%;
}